.l-ui-arrow-prev {
    top: 20px;
}

.l-ui-arrow-next {
    bottom: 20px;
}

.l-ui-arrow {
    position: fixed;
    left: 50%;
    z-index: 150;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    background: rgba(122,0,0,1);
    border-radius: 50%
}